
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Products should be publicly readable
    match /products/{productId} {
      allow read: if true;
      //allow write: if isAdmin();
      allow write: if isAdmin();
    }
    
    // Users can read their own data. Admins can read/write any user data.
    match /users/{userId} {
      allow read: if request.auth.uid == userId || isAdmin();
      allow write: if isAdmin();
      allow create: if true; // Anyone can create a user account
    }
    
    // Orders can be created by authenticated users. Admins can read/write all orders.
    // Resellers can read orders associated with them.
    match /orders/{orderId} {
      allow read: if isAdmin() || request.auth.uid == resource.data.resellerId;
      allow create: if request.auth != null;
      allow update, delete: if isAdmin();
    }

    // Helper function to check for admin role
    function isAdmin() {
      return exists(/databases/$(database)/documents/users/$(request.auth.uid)) &&
             get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
  }
}
